
<div style="text-align: center;"><h1>CALCULATOR</h1>
    <form  method= "POST" enctype="multipart/form-data" action="/form" >
    <label>SELECT OPERATOR:</label>
    <input type="radio" id="Addition" name="Operator"  [(ngModel)]="Operator" value="+">
    <label for="Addition">Addition</label>
    <input type="radio" id="Substraction" name="Operator"  [(ngModel)]="Operator"value="-">
   <label for="Substraction">Substraction</label>
  <input type="radio" id="Multiplication" name="Operator"  [(ngModel)]="Operator"value="*">
  <label for="Multiplication">Multiplication</label>
  <input  type="radio" id="Division"name="Operator"  [(ngModel)]="Operator" value="/">
  <label  for="Division">Division</label> <br><br>
  <label for="first">Enter First Number:</label><br>
  <input type="number"  step="1" id="first"name="val1" [(ngModel)]="val1" ><br><br>
  <label for="Second">Enter Second Number:</label><br>
  <input type="number" step="1" id="second"name="val2" [(ngModel)]="val2"><br><br>
  <button (click)="sendValues()">SUBMIT</button>

  <button type="reset" value="Reset" style ="margin-left:10px">RESET</button>
           </form>
    <div style="margin-top:10px">
       <b >RESULT: {{op}} {{res }} </b>
    </div>
</div> 
     
<router-outlet></router-outlet>
